:host {
  padding: 8px;
}

.submit-button {
  display: flex;
  flex-direction: column;
  height: 70px;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  background-color: #fedc07;
  font-weight: bold;
  border-radius: 5px;
}

.text {
  font-size: 18px;
}

.price {
  font-size: 24px;
}
