.button-container {
  background-color: white;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

div {
  color: #294089;
}

svg {
  fill: #294089;
  width: 18px;
  height: 18px;
}

.important {
  font-weight: bold;
}
