.page-container {
  background-image: url('assets/background.png');
  background-repeat: repeat-x;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  padding: 16px;
}

.card-container {
  margin-bottom: 20px;
}

.card-container {
  max-width: 800px;
}
