.filter {
  color: #17317f;
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 250px;
  padding: 25px;
  justify-content: space-between;
  font-size: 18px;
}

.important {
  font-weight: bold;
}

.active {
  color: white;
  background-color: #17317f;
}
