.card {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.card-content {
  display: flex;
  flex-direction: row;
}

.content:last-child {
  padding: 25px;
}

.image-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  position: relative;
}
.image {
  height: 100%;
  width: 100%;
}

.image-container .button {
  position: absolute;
  bottom: 0;
  left: 0;
}

.star-container {
  padding: 8px 0;
}
